h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
body {
  font-family: "Roboto", "BlinkMacSystemFont", "Segoe UI", "Ubuntu", "Open Sans",
    sans-serif;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo--web {
  color: #2196f3;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
